@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');

.App {
  text-align: center;
  
}

.todolist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  height: auto;
  align-items: center;
  margin:0 auto;
  font-family: 'Montserrat', sans-serif ;
}
